@import "../../../styles/general.css";

/* Estilos para el grid de calificación de ejercicios */

.grade-exercises-grid {
  margin: 20px;
  background-color: var(--color-fondo);
}

.grade-exercises-grid h3 {
  border-bottom: 3px solid var(--rojo-nebrija);
  border-radius: 3px;
  color: var(--rojo-nebrija);
  font-size: 24px;
  font-weight: bold;
}

.submissions-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}
