@import "../../../styles/general.css";

.ejercicio-contenedor {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.132);
  border: 2px solid var(--rojo-nebrija);
  border-radius: 8px;
}

.calificar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-nota {
  width: 60px;
  padding: 5px;
  border: 4px solid var(--rojo-nebrija);
  border-radius: 5px;
}

.input-nota:focus {
  outline: none;
  border-color: var(--color-secundario);
}

.btn-guardar-nota {
  padding: 8px;
  border: 2px solid var(--rojo-nebrija);
  border-radius: 5px;
  background-color: white;
  color: var(--rojo-nebrija);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-guardar-nota:hover {
  background-color: var(--rojo-nebrija);
  color: white;
}

.btn-guardar-nota:active {
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
}
.btn-borrar-ejercicio {
  padding: 8px;
  border: 2px solid var(--rojo-nebrija);
  border-radius: 5px;
  background-color: var(--rojo-nebrija);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-borrar-ejercicio:hover {
  background-color: #a00026;
  color: white;
}

.btn-borrar-ejercicio:active {
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
}
