@import './general.css';

/* HEADER */
.header {
    background-color: var(--rojo-nebrija);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.contenedor-header{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-header {
    height: 60px;
}

.header h1 {
    color: white;
    font-size: 28px;
    margin: 0;
}
/* RESPONSIVE Header 768px */
@media (max-width: 768px) {
    .header {
        padding: 8px 15px;
    }

    .contenedor-header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .logo-header {
        height: 45px;
    }

    .header h1 {
        font-size: 20px;
    }
}