/* fila con contenido principal y controles alineados */
.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: white;
  border-left: 5px solid var(--rojo-nebrija);
  border-radius: 6px;
  transition: all 0.3s ease;
  height: 150px;
  box-shadow: 9px 9px 12px rgba(194, 0, 47, 0.1);
}

.item-row:hover {
  background-color: #efefef;
  box-shadow: 0 4px 12px rgba(194, 0, 47, 0.1);
  translate: 3px 0;
}

.item-main {
  display: flex;
  flex-direction: column;
}
.item-main a {
  color: var(--rojo-nebrija);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.item-main a:hover {
  color: var(--color-secundario);
  text-decoration: underline;
}

.item-main p {
  font-size: 13px;
  color: #666;
  margin: 8px 0 0 0;
  font-style: italic;
  word-break: break-word;
}

.item-main p:last-child {
  color: var(--color-secundario);
}

.apunte-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: #666;
  padding: 2%;
}

.apunte-categoria {
  background-color: var(--color-hover-boton);
  border: 1px solid var(--color-secundario);
  border-radius: 5px;
  padding: 2px;
}

.apunte-categoria p {
  margin: 0;
  font-size: 12px;
  color: var(--color-secundario);
  font-weight: 600;
}

.apunte-like {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.like-icon {
  cursor: pointer;
  width: 25px;
}

/* RESPONSIVE 768 */
@media (max-width: 768px) {
  .item-row {
    padding: 10px;
  }

  .item-main a {
    font-size: 14px;
  }

  .item-main p {
    font-size: 10px;
  }

  .apunte-categoria p {
    font-size: 10px;
    word-break: normal;
  }

  .like-icon {
    width: 20px;
  } 
  .like-count {
    font-size: 14px;
  }
}

/* RESPONSIVE 450 */
@media (max-width: 450px) {
  .item-row {
    padding: 7px;
  }

  .item-main a {
    font-size: 12px;
  }

  .item-main p {
    font-size: 8px;
  }

  .apunte-categoria p {
    font-size: 8px;
    word-break: normal;
  }

  .like-icon {
    width: 14px;
  } 
  .like-count {
    font-size: 12px;
  }
}