@import './general.css';

.tarjeta-curso {
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}

.tarjeta-curso:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(194, 0, 47, 0.2);
}

.tarjeta-curso h3 {
    font-size: 18px;
    color: var(--rojo-nebrija);
    margin-bottom: 10px;
}

.tarjeta-curso p {
    font-size: 13px;
    color: #666;
    margin-bottom: 8px;
    line-height: 1.5;
}

.tarjeta-curso p:nth-of-type(1) {
    font-weight: bold;
    color: #999;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.tarjeta-curso p:last-of-type {
    margin-top: auto;
    color: var(--rojo-nebrija);
    font-weight: bold;
}

/* RESPONSIVE 768px */

@media (max-width: 768px) {

.tarjeta-curso {
        padding: 15px;
    }

    .tarjeta-curso h3 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .tarjeta-curso p {
        font-size: 12px;
        margin-bottom: 6px;
    }
}