@import "../../../styles/general.css";

/* Secciones de Carouseles */
.section-carousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-carousel h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
  font-weight: 600;
  padding: 5px;
  background-color: white;
  border: 2px solid var(--rojo-nebrija);
  border-radius: 5px;
  width: fit-content;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

/* RESPONSIVE 1024px */
@media (max-width: 1024px) {
  .section-carousel h2 {
    font-size: 20px;
  }
}

/* RESPONSIVE 768px */
@media (max-width: 768px) {
  .section-carousel h2 {
    font-size: 18px;
  }
}

/* RESPONSIVE 480px */
@media (max-width: 480px) {
  .section-carousel h2 {
    font-size: 16px;
  }
}
