@import "../../../styles/general.css";

.login-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 615px;
  background-image: url("../../../assets/Backgrounds/LoginBackground.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 40px;
}

.formulario-login-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 60px 50px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.formulario-login-contenedor h2 {
  font-size: 26px;
  margin-bottom: 18px;
  font-family: "Arial", sans-serif;
  color: var(--rojo-nebrija);
}

.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.formulario-login input {
  padding: 15px;
  font-size: 14px;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Arial", sans-serif;
}

.formulario-login input:focus {
  outline: none;
  border-color: var(--rojo-nebrija);
  box-shadow: 0 0 8px rgba(220, 126, 126, 0.3);
}

.formulario-login button {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--rojo-nebrija);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formulario-login button:hover {
  background-color: var(--color-secundario);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(194, 0, 47, 0.3);
}

.formulario-login-contenedor a {
  color: var(--rojo-nebrija);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.error-login {
  text-align: center;
  color: var(--color-secundario);
}

/* RESPONSIVE Login 1024px */
@media (max-width: 1024px) {
  .login-grid {
    padding: 35px;
    gap: 25px;
  }

  .formulario-login-contenedor {
    width: 50%;
    padding: 50px 40px;
  }

  .formulario-login {
    gap: 18px;
    margin-bottom: 18px;
  }

  .formulario-login input {
    padding: 14px;
    font-size: 13px;
  }

  .formulario-login button {
    padding: 14px;
    font-size: 15px;
  }
}

/* RESPONSIVE Login 768px */
@media (max-width: 768px) {
  .login-grid {
    flex-direction: column;
    padding: 20px;
    min-height: auto;
    gap: 30px;
    height: 100vh;
    background-image: url("../../../assets/Backgrounds/LoginBackgroundRotated.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .formulario-login-contenedor {
    width: 50%;
    padding: 40px 30px;
  }

  .formulario-login input {
    padding: 12px;
    font-size: 13px;
  }

  .formulario-login button {
    padding: 12px;
    font-size: 14px;
  }
}
