@import "../../../styles/general.css";

/* ---------------------------------MisTicketsGrid--------------------------------- */
.my-tickets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 40px;
  background-color: white;
  border: 2px solid var(--rojo-nebrija);
  border-radius: 8px;
}

.my-tickets-container h1 {
  color: var(--rojo-nebrija);
  margin-bottom: 10px;
  border-bottom: 2px solid var(--rojo-nebrija);
}

.my-tickets-subtitle {
  color: var(--color-primario);
  text-align: center;
  margin-bottom: 20px;
}

.tickets-table {
  width: 100%;
  border-collapse: collapse;
}

.column-title th {
  background-color: var(--rojo-nebrija);
  color: white;
  padding: 10px;
  border-left: 1px solid white;
}

.column-title th:first-child {
  border-left: none;
}

.table-body td {
  padding: 10px;
  border: 1px solid var(--rojo-nebrija);
}

.ticket-row:hover {
  background-color: var(--color-hover-button);
  cursor: pointer;
}

.error {
  padding: 8px;
  margin: 10px;
  background-color: rgba(255, 0, 0, 0.233);
  border-radius: 5px;
  color: rgb(188, 0, 0);
  font-weight: bold;
}

.no-tickets {
  padding: 8px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.233);
  border-radius: 5px;
  color: gray;
  font-style: italic;
}

/* Tipo de ticket */
.td-summary span.first-word {
  color: var(--rojo-nebrija);
  font-weight: bold;
  background-color: rgb(225, 225, 225);
  padding: 2px 4px;
  border-radius: 4px;
}

/* Estado del ticket */
.td-status {
  text-align: center;
}

.ticket-status {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

.ticket-status.to-do {
  background-color: #e0e0e0;
  color: #555;
}
.ticket-status.in-progress {
  background-color: #1976d2;
  color: white;
}
.ticket-status.waiting-for-client {
  background-color: #90caf9;
  color: #0d47a1;
}
.ticket-status.resolved {
  background-color: #43a047;
  color: white;
}
